
/* IMPORTANT */
/* Initially done by Mursal, feel free to make changes!!! */



/* For Desktop */
@media (min-width: 801px){

.navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
}
    
.navbar-nav > li {
        display: inline-block;
        float:none;
}


.show {
    background: none;
    outline-style: none;
    outline-color: transparent;
    padding: 0%;
    margin: 0%;
}



.subnav > li {
    display: inline-block;
}

.subnav {
    margin-right: -1000px;
    background-color: orange;
    max-width: fit-content;
    padding: 0.125rem;
}
}