/* These are the styles used on evety page, they include colour scheme
and formatting of common HTML elements such as h1, p etc. */
:root {
    --SRBlue: #2D8883;
    --SRBlueAccent: #41beb8;
    --SRRed: #D9484F;
    --SRRedAccent: #f55058;
}

body {
    background-color: var(--SRBlueAccent);
}

header {
    background-color: var(--SRBlue);
}

h1 {
    background-color: var(--SRBlue);
    color: #FFF;
    text-align: center;
    margin: 0;
}

h3 {
    color: #FFF;
    text-align: center;
    margin: 0;
}

/* https://prevwong.github.io/awesome-select/ */
select {
    background: var(--SRBlueAccent);
    border-color: transparent;
    color: #FFF;
    text-shadow: 0 1px 0 black;
}

select option {
    background: var(--SRRedAccent);
    color: #FFF;
    text-shadow: 0 1px 0 black;
}

/* Table styling */ 
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* colour every other element orange */
table tr:nth-child(odd) td, #topTable tbody:nth-child(odd) td { 
    background-color: var(--SRBlueAccent);
}

table tr:nth-child(even) td, #topTable tbody:nth-child(even) td { 
    background-color: var(--SRRedAccent);
}

table tr:nth-child(odd) td, #leagueTableStats tbody:nth-child(odd) td { 
    background-color: var(--SRBlueAccent);
}

table tr:nth-child(even) td, #leagueTableStats tbody:nth-child(even) td { 
    background-color: var(--SRRedAccent);
}

table th {
    background-color: var(--SRBlue);
    color: #FFF;
    padding: 3px 55px 3px 55px;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

table td {
    padding: 4px 10px 10px;
    color: #FFF;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}


.Time-Loc{
    color: #FFF;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

/* Options page additional styling */

#headline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    padding: 50px;
}
#league_logo_left {
    padding-right: 10px;
}
#leagueHeading {
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    padding-left: 10px;
}

/* Background Gradient */

/* element {
    background: linear-gradient(225deg, #2d8883, #74dfd9, #025d5a);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
}
@keyframes AnimationName {
    0%{background-position:0% 99%}
    50%{background-position:100% 2%}
    100%{background-position:0% 99%}
} */