body {
    margin: 0;
    color:black;
    background: white;
}

/* #indexHeader {
    background: linear-gradient(181deg, #166561, #2d8883, #41beb8);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
} */
section {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

#mainLogo {
    width: 100%;
    max-width: 400px;
    height: auto;
}
#headLogo {
    padding-right: 10px;
}
#mainHeading {
    color: white;
    background-color: unset;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
.wrapper {
    padding-bottom: 50px;
}

.curves {
    aspect-ratio: 1200/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.layer1 {
    background-image: url('../images/layered-waves-1.svg');
}

.layer2 {
    background-image: url('../images/layered-waves-2.svg');
}

.layer3 {
    background-image: url('../images/layered-waves-3.svg');
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}

.glow-text {
    color: #f55058;
    font-weight: bold;
    text-align: center;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }
    to {
        text-shadow: 0 0 8px #860007, 0 0 10px #860007;
    }
}