
/* IMPORTANT */
/* Initially done by Mursal, feel free to make changes!!! */
:root {
    --SRBlue: #66A9FF;
    --SROrange: #FFBC66;
}

/* For Desktop */
@media (min-width: 801px){

header {
    background-color: #66A9FF;
}

.navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
}
    
.navbar-nav > li {
        display: inline-block;
        float:none;
}

.dropdown-menu.show {
    margin-right: -1000px;
    background-color: orange;
    max-width: fit-content; 
    padding: 0.125rem;
}

.subnav > li {
    display: inline-block;
}
}